.container {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  gap: 20px; /* Add spacing between card and sidebar */
}

.card {
  padding: 20px;
  height: 80vh;
  border-radius: 5px;
  flex: 1; /* Make the card take up available space */
  color: rgb(19, 18, 18);
  text-align: center;
  background: linear-gradient(to right, #00f260, #0575e6);
}

.card h1 {
  margin-top: 50px;
  font-size: 50px;
}

.card p {
  font-size: 2rem;
}

.sidebar {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.title-box,
.description-box {
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .card {
    width: 100%;
    margin-right: 0;
  }

  .sidebar {
    width: 100%;
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .card h1 {
    font-size: 2rem;
  }

  .card p {
    font-size: 1rem;
  }
}
